@import "./icon.less";



.login-container{
    .van-nav-bar__content {
        background-color: rgb(26, 154, 246);
    }
    
    .van-nav-bar__title {
        color: #fff;
    }
    
    .block {
        display: inline-block;
        width: 66px;
        color: rgb(32, 1, 1);
        font-size: 30px;
        text-align: center;
        border-radius:15px;
        background-color: #dee0e2;
      }
}